{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% include "includes/head.html" %}
</head>

<body>
    <!-- Topbar Start -->
        {% include "includes/topbar.html" %}
    <!-- Topbar End -->


    <!-- Navbar Start -->
        {% include "includes/nevbar.html" %}
    <!-- Navbar End -->

{% block content %}

{% endblock %}

 <!-- Footer Start -->
{% include "includes/footer.html" %}
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


{% include "includes/footer_links.html" %}
</body>

</html>